@keyframes rotation {
    from { transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

#ge-logo-mark {
  padding: 2em 0 0 .5em;
  
  .cls-1 {
    fill: $ge-yellow;
  }

  #grand-text,
  #ephemeris-text {
    path {
      fill: $ge-green !important;
    }
  }

  #armillary {
    position: relative;
  }

  #inner-arm-one {
    fill: $ge-green;
  }

  #inner-arm-two {
    fill: white;
  }
}