@keyframes rotation {
  from { transform: rotate(0deg) translateX(150px) rotate(0deg); }
  to   { transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

@keyframes opacityFlicker {
  0% {
    opacity: .7;
  }
  30% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

#ge-logo-mark {
  padding: 2em 0 0 .5em;
  max-width: 15em;
  
  .cls-1 {
    fill: $ge-yellow;
  }

  #grand-text,
  #ephemeris-text {
    path {
      fill: white;

      &:hover {
        fill: $ge-green;
      }
    }
  }

  #armillary {
    position: relative;

    &-left {
      &:hover {
        fill: $ge-green;
      }
    }

    &-right {
      &:hover {
        fill: $ge-green;
      }
    }
  }

  #inner-arm-one {
    fill: $ge-green;
    animation: opacityFlicker 4s infinite;

    &:hover {
      fill: $ge-yellow;
    }
  }

  #inner-arm-two {
    fill: white;
    animation: opacityFlicker 2s 10s infinite;

    &:hover {
      fill: $ge-green;
    }
  }
}