@keyframes floatOff {
  to {
    top: -400em;
  }
}

.star-generator {
	position: absolute; 
	top:0; 
	bottom:0; 
	width: 100%;
	height: 100%;
	z-index: 1;

	.star {
		display: inline-block;
		border-radius: 50%;
		background-color: white;
		position: absolute;
		/*animation: floatOff 200s forwards;*/
	}
}